body {
  width: 100%;
}
h1 {
  font-size: 60px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-top: 70px;
}
h2 {
  width: 45%;
  font-size: 2rem;
  padding-top: 70px;
  color: #ed8f11;
  padding-left: 0px;
  text-align: center;
}
.intro {
  width: 100%;
  float: left;
  font-size: 20px;
}
.header {
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    padding: 7.5px 30px;
    border-radius: 22px 22px 0 0;
    min-height: 44px;
    background-color: #8abc2d;
}
.header-hr {
    width: 100%;
    z-index: 1;
    border: none;
    border-radius: 3px;
    height: 5px;
    background-color: #8abc2d;
    margin-top: 5px;
    margin-bottom: 20px;
}
.orange__image {
  margin: 10px;
  border-radius: 0 0 0 0;
  width: 60%;
  float: right;
}
h5 {
    font-size: 32px;
    padding-left: 30px;
    line-height: 1.15;
}
p {
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #1e1e1e;
    padding-left: 50px;
    margin-top: 5em;
    margin-bottom: 5em;
}
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #FFA000;
}
.center {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
  z-index: 2;
  overflow: hidden;
  background-color: #FFA000;
}
.cards {

  display: inline-block;
  padding: 40px;
}
.card {
  width: 49%;
  display: inline-grid;
  padding: 10px;
}
.card:hover {
  padding: 0;
}
.card img {
  height: 100%;
  width: 100%
}
.cards a:hover {
  text-decoration: none;
  border: none;
  color: #343a40;
}
.card-title {
  font-weight: bold;
  color: #ed8f11;
  font-size: 32px;
}
.card-body {
  padding: 40px;
}
.card-text {
  padding: 0;
  margin: 20px 0 20px 0;
}
#navbar a {
  font-size: 22px;
  float: left;
  display: block;
  color: #ed8f11;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
  background-color: #f9b012;
  font-color: white;
  border: none;
  margin: auto;
}

#navbar a.active {
  background-color: #ed8f11;
  color: white;
}
ul {
  padding: 0;
  margin: 1px;
  padding-bottom: 20px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto
}

.intro img {
  margin-right: 100px;
  width: 43%;
  float: right;
}
section {
  margin: 0px;
}
section .number {
    text-align: center;
    font-size: 4.4rem;
}
section ul {
  font-color: #00540f /*#8bbc2e*/;
  text-align: center;
  position: relative;
  width: 100%;
}
section li {
  display: inline-grid;
}
.intro li {
  width: 80%;
  font-size: 20px;
  margin: 10px;
}
.numbers {
  margin-left: 70px;
  width: 40%;
}

.text-center {
  padding-top: 50px;
}
.row {
}
.text-uppercase{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.btn {
  background-color: #ed8f11;
  margin: 10px;
  height: 50px;
  font-size: 30px;
}
.image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.log {
  margin: 12px;
}