body{
    background: white;
}
h1{
    color: #FFA000;
    text-align: center;
    font-family: "Georgia", Georgia, serif;
    padding: 30px;
}
p {
    text-align: center;
    font-size: 120%;
    font-family: "Georgia", Georgia, serif;
    padding: 50px;
}
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #FFA000;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
  overflow: hidden;
  background-color: #FFA000;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #FFCC00;
  color: white;
}

#navbar a.active {
  background-color: white;
  color: black;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}