p {
    font-family: "Georgia", Georgia, serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #1e1e1e;
    padding-left: 50px;
    margin-top: 5em;
    margin-bottom: 5em;
}
h1 {
    color: #ed8f11;
    font-family: "Georgia", Georgia, serif;
    padding-left: 30px;
    padding-top: 60px;
    text-align: left;
}
h2 {
   padding-top: 100px;
}
.header {
    font-size: 30px;
    margin: 0;
    margin-left: 50px;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    padding: 7.5px 30px;
    border-radius: 22px 22px 0 0;
    min-height: 30px;
    background-color: #8abc2d;
}

.header-hr {
    margin-right: 50px;
    margin-left: 50px;
    border: none;
    border-radius: 3px;
    height: 5px;
    background-color: #8abc2d;
    margin: 0;
    margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin: 10px;
  list-style-image: url("/static/image/favicon1.ico");
}

a {
    font-family: "Georgia", Georgia, serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #1e1e1e;
}
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #FFA000;
}
.center {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
  overflow: hidden;
  background-color: #FFA000;
}

#navbar a {
  font-size: 22px;
  float: left;
  display: block;
  color: #ed8f11;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
  background-color: #f9b012;
  font-color: white;
  border: none;
  margin: auto;
}

#navbar a.active {
  background-color: #ed8f11;
  color: white;
}

.content {
  padding: 16px;
}


.sticky + .content {
  padding-top: 60px;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto
}