p {
    font-family: "Georgia", Georgia, serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #1e1e1e;
    padding-left: 50px;
    margin-top: 5em;
    margin-bottom: 5em;
}
h1{
    color: #ed8f11;
    text-align: center;
    font-family: "Georgia", Georgia, serif;
    padding: 30px;
    padding-top: 70px;
}
a {
    font-family: "Georgia", Georgia, serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #1e1e1e;
}
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #FFA000;
}
.center {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
  overflow: hidden;
  background-color: #FFA000;
}

#navbar a {
  font-size: 22px;
  float: left;
  display: block;
  color: #ed8f11;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
  background-color: #f9b012;
  font-color: white;
  border: none;
  margin: auto;
}

#navbar a.active {
  background-color: #ed8f11;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto
}

.portal__heading {
    text-align: center;
    font-family: "Comic sans MS", Georgia, serif;
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #1e1e1e;
}

.portal__text {
  text-align: center;
  font-size: 20px;
}

.portal__item {
  margin: 5px;
  background-image: linear-gradient(140deg, #ee9216, #f09d11, #f6d568);
  padding: 2rem;
  display: grid;
  align-items: center;
}