body{
  /*background-image: linear-gradient(140deg, #ffffff, #B89A68);*/
  background-image: #ffffff;
}
h1{
    color: #ed8f11;
    text-align: center;
    font-family: "Georgia", Georgia, serif;
    padding: 30px;
    padding-top: 70px;
}
.intro {
  width: 35%
  float: left;
  font-size: 20px;
}
.orange__image {
  margin: 10px;
  border-radius: 0 0 0 0;
  width: 60%;
  float: right;
}
h5 {
    font-family: "Georgia", Georgia, serif;
    font-size: 32px;
    padding-left: 30px;
    line-height: 1.15;
}
p {
    font-family: "Georgia", Georgia, serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.1px;
    color: #1e1e1e;
    padding-left: 50px;
}
.tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #FFA000;
}
.center {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
  overflow: hidden;
  background-color: #FFA000;
}

#navbar a {
  font-size: 22px;
  float: left;
  display: block;
  color: #ed8f11;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  color: white;
  background-color: #f9b012;
  font-color: white;
  border: none;
  margin: auto;
}

#navbar a.active {
  background-color: #ed8f11;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto
}

.portal__heading {
    text-align: center;
    font-family: "Comic sans MS", Georgia, serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #1e1e1e;
}

.portals {
  width: 100%;
}

portal__text {
  text-align: center;
}

.portal__item {
  margin: 5px;
  background-image: linear-gradient(140deg, #ee9216, #f09d11, #f6d568);
  padding: 2rem;
  display: grid;
  align-items: center;
}

a {
  color: black;
  background-color: transparent;
}

a:hover {
  cursor: pointer;
  margin: 2px;
  border: solid;
  border-color: #8cbc2b;
}

.card {
  background-image: linear-gradient(140deg, #ffffff, #B89A68);
  border-radius: 0.0025rem
  width: 200px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
}