{% extends "base.html" %}

{% block content %}
<div id="navbar" class="navbar navbar-light bg-light justify-content-between sticky">
    <div>
        <a href="/">О нас</a>
        <a href="time_table">Расписание</a>
        <a href="price">Прайс-лист</a>
        <a href="teachers">Команда преподавателей</a>
        <a class="active" href="contacts">Контакты</a>
    </div>
    <div style="align: middle;">
        <img src="../static/image/Orange.jpg" height="80px">
    </div>
</div>
<h1>Как записаться на занятие/экскурсию/консультацию?</h1>
<hr class="header-hr"/>
<h3>Суханова Варвара - Директор Апельсиныча</h3>
<h5><a href="https://vk.com/id2641231" class="text-dark">
    <img src="/static/image/vk_logo.png" height="35px;" width="35px;">ВКонтакте
</a></h5>
<h5>
    <img src="/static/image/whatsapp_logo.png" height="35px;" width="35px;">WhatsApp +7 (921) 906-05-24
</h5>
<h5><a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.instagram.com%2Fapelsinich_spb%2F&cc_key=" class="text-dark">
    <img src="/static/image/insta_logo.png" height="35px;" width="35px;">Instagram
</a></h5>
<hr class="header-hr"/>
<h3>Наше местоположение</h3>

<script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A026d14aecd1652079c0d99a08ad96d5fa9b2c4b4f6d0d79eab950da95385515f&amp;width=781&amp;height=577&amp;lang=ru_RU&amp;scroll=true"></script>
<hr class="header-hr"/>
<h3>Разработчики</h3>
<div class="row">
    <div class="col-lg-3">
        <h4>Винникова Анастасия</h4>
        <a href="https://vk.com/id470261217"><h4>Страница в вк</h4></a>
    </div>
    <div class="col-lg-3">
        <h4>Семенова Ксения</h4>
        <a href="https://vk.com/semenova.ksenia"><h4>Страница в вк</h4></a>
    </div>
</div>
{% endblock %}