{% extends "base.html" %}

{% block content %}
<div id="navbar" class="navbar navbar-light bg-light justify-content-between sticky">
    <div>
        <a href="/index">О нас</a>
        <a href="/time-table">Расписание</a>
        <a href="/price">Прайс-лист</a>
        <a href="/teachers">Команда преподавателей</a>
    </div>
    <div style="align: middle;">
        <img src="../static/image/Orange.jpg" height="80px">
    </div>
</div>
<h1>Курсы</h1>
<h1 class="header">Для детей от 1 до 4:</h1>

<hr class="header-hr">
<ul>
    <li>Развивашки</li>
    <li>Добрая музыка</li>
    <li>Хореография</li>
    <li>Живопись</li>
    <li>Любознайки</li>
</ul>
<p><a href="https://vk.com/market-138621453">Узнать больше...</a></p>
<h1 class="header">Для детей от 5 до 6:</h1>
<hr class="header-hr"/>
<ul>
    <li>Подготовка к школе</li>
    <li>Шахматы</li>
    <li>Английский язык</li>
    <li>Хореография</li>
    <li>Живопись</li>
    <li>Лепка</li>
    <li>Арт-мастерская</li>
    <li>Программирование</li>
    <li>Капоэйра</li>
    <li>Вокал</li>
    <li>Фортепиано</li>
    <li>Рукоделие</li>
</ul>
    <p><a href="https://vk.com/market-138621453">Узнать больше...</a></p>
<h1 class="header">Для детей от 7 до 12:</h1>
<hr class="header-hr"/>
<ul>
    <li>Олимпиадная математика</li>
    <li>Шахматы</li>
    <li>Английский язык</li>
    <li>Хореография</li>
    <li>Рисунок и графика</li>
    <li>Лепка</li>
    <li>Арт-мастерская</li>
    <li>Программирование</li>
    <li>Капоэйра</li>
    <li>Вокал</li>
    <li>Фортепиано</li>
    <li>Рукоделие</li>
</ul>
    <p><a href="https://vk.com/market-138621453">Узнать больше...</a></p>
<!-- Footer -->
<footer class="bg-light text-center ">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3">
                <h5 class="text-uppercase">Центр детского развития АпельсиныЧ</h5>

            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Контакты</h5>

                <ul style="list-style-type: none;">
                    <li>
                        ✆ +7 (812) 906-05-24
                    </li>
                    <li>
                        <div class="social-icons">
                            <a href="https://vk.com/apelsinich" class="text-dark">
                                <img src="/static/image/vk_logo.png" height="20px;"/>Группа ВК
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Режим работы</h5>

                <ul style="list-style-type: none;">
                    <li>Пн-Сб : 9.00 - 20.00</li>
                    <li>Вс : 11.00 - 14.00</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Адреса:</h5>

                <ul style="list-style-type: none;">
                    <li>СПб, ул. Антонова-Овсеенко, 5к1</li>
                    <li>СПб, ул. Белышева 5/6, парадная 4, домофон 254</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022
    </div>

</footer>
<!-- Footer -->

{% endblock %}
