<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/image/favicon1.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>

<!-- Navbar -->
<div id="navbar" class="navbar navbar-light bg-light justify-content-between sticky">
    <div>
        <a class="active" href="javascript:void(0)">О нас</a>
        <a href="javascript:void(0)">Расписание</a>
        <a href="javascript:void(0)">Прайс-лист</a>
        <a href="javascript:void(0)">Команда преподавателей</a>
    </div>
    <div style="align: middle;">
        <img src="../static/image/Orange.jpg" height="80px">
    </div>
</div>
<!-- Navbar -->


<div class="content">
    <!-- Start screen -->
    <div class="intro">
        <h1>Центр детского развития АпельсиныЧ</h1>
        <hr class="header-hr"/>
        <img src="/static/image/main_screen.png" vspace="5" hspace="5"/>
        <section class="numbers">
            <ul>
                <li>
                    <div class="number">200 м&sup2;</div>
                    <div>общая площадь наших центров развития</div>
                </li>
                <li>
                    <div class="number">25+</div>
                    <div>преподавателей – профессионалов своего дела, с авторскими методиками и
                        уникальными разработками
                    </div>
                </li>
                <li>
                    <div class="number">200+</div>
                    <div>детей в гостях у АпельсиныЧа ежемесячно!</div>
                </li>
            </ul>
        </section>
        <hr class="header-hr"/>
    </div>
    <!-- Start screen -->

    <!-- Cards -->
    <div class="cards">
        <div class="card">
            <img src="https://sun9-38.userapi.com/s/v1/if2/1ZCWgk_hh2rNutY41fwIZBM-Dn3UPRxX95RIPbulJXLYm_bhUCGO4VLNyJBGHdRLZ7DaPO0hcVeFI3Xp0PbFXtWn.jpg?size=1280x1280&quality=95&type=album"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Курсы для детей</h5>
                <p class="card-text">Более 30 развивающих курсов для детей от 1 до 12 лет</p>
                <a href="/courses" class="btn">Подробнее <img src="/static/image/link_on.png"/></a>
            </div>
        </div>
        <div class="card">
            <img src="https://sun9-79.userapi.com/s/v1/if2/A-4wO8zqHuV9E24UydjmFimH0Qac5Mokms9BFlV8jVhyExJQIdsLhAyJQiv5llj-U7Iq15QQRW_T6sITRcqVb9uh.jpg?size=1280x1280&quality=95&type=album"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Мини детский сад</h5>
                <p class="card-text">Занятия с Вашими детьми от 2 до 6 лет с 9.00 до 14.00</p>
                <a href="/courses" class="btn">Подробнее <img src="/static/image/link_on.png"/></a>
            </div>
        </div>
        <div class="card">
            <img src="https://sun9-10.userapi.com/s/v1/if2/DYmuGkImGPS7cPLDgFEsHCVIufr0v1Lqyp7ub2zGAr5EakZaEENs-YU0kH_xnw9OJE8pDXyz1ggfy0tcJhAERQud.jpg?size=1280x1280&quality=95&type=album"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Коррекция и помощь детям</h5>
                <p class="card-text">Помощь логопеда, дефектолога, психолога и остеопата от наших
                    специалистов</p>
                <a href="/courses" class="btn">Подробнее <img src="/static/image/link_on.png"/></a>
            </div>
        </div>
        <div class="card">
            <img src="https://sun9-11.userapi.com/s/v1/if2/uUpM-ylHsXSKjyLpgyJAqUWX85r2diXW2dHnglyG-mKdv3O0q5EAaL5CbYE7v-EVQ-qWU-r82wQNChDvuKp92d1S.jpg?size=715x1080&quality=95&rotate=270&type=album" style="height:750px"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Детские праздники</h5>
                <p class="card-text">Аниматоры, детские выездные театры, мастер-классы.</p>
                <a href="/performances" class="btn">Подробнее <img src="/static/image/link_on.png"/></a>
            </div>
        </div>
        <div class="card">
            <img src="https://sun9-54.userapi.com/s/v1/if2/-OP076oOTRy9lbwa7zdIuEsD75f2EyJXOXB9J2thqCmWqOo1PEPHfqeCfGahPqjT7YW791c1_u9xXiy2ovEQvqDO.jpg?size=1000x1000&quality=95&type=album"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Летний лагерь</h5>
                <p class="card-text">Летний лагерь в городе для детей от 6 до 10 лет.</p>
                <a href="/performances" class="btn">Подробнее <img src="/static/image/link_on.png"/></a>
            </div>
        </div>
    </div>
    <!-- Cards -->
</div>
<hr/>

<!-- Footer -->
<footer class="bg-light text-center ">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3">
                <h5 class="text-uppercase">Центр детского развития АпельсиныЧ</h5>

            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Контакты</h5>

                <ul style="list-style-type: none;">
                    <li>
                        ✆ +7 (812) 906-05-24
                    </li>
                    <li>
                        <div class="social-icons">
                            <a href="https://vk.com/apelsinich" class="text-dark">
                                <img src="/static/image/vk_logo.png" height="20px;"/> Группа ВК
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Режим работы</h5>

                <ul>
                    <li>Пн-Сб : 9.00 - 20.00</li>
                    <li>Вс : 11.00 - 14.00</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Адреса:</h5>

                <ul>
                    <li>ул. Антонова-Овсеенко, 5к1</li>
                    <li>ул. Белышева 5/6, парадная 4, домофон 254</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022
    </div>

</footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
        navbar.classList.remove("sticky");
   }
}














</script>
</body>
</html>