{% extends "base.html" %}

{% block content %}
<div id="navbar" class="navbar navbar-light bg-light justify-content-between sticky">
    <div>
        <a href="/index">О нас</a>
        <a href="/time-table">Расписание</a>
        <a href="">Прайс-лист</a>
        <a href="/teachers">Команда преподавателей</a>
    </div>
    <div style="align: middle;">
        <img src="../static/image/Orange.jpg" height="80px">
    </div>
</div>
<h2>Мэри Поппинс и Новый год Декабрь 2021 г.</h2>
<iframe src="https://vk.com/video_ext.php?oid=-138621453&id=456239146&hash=1771d606987c7239&hd=1"
        width="640" height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0"
        allowfullscreen></iframe>
<h2>Маленький принц.</h2>
<iframe src="https://vk.com/video_ext.php?oid=-138621453&id=456239137&hash=77f3411253c9c592&hd=1" width="640"
        height="360" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
        frameborder="0" allowfullscreen></iframe>"
<h2>Щелкунчик Декабрь 2019 г.</h2>
<p><a href="https://vk.com/album-138621453_272205476">Фото из альбома.</a></p>
<h2>Звезда АпельсиныЧа Март 2019 г.</h2>
<p><a href="https://vk.com/album-138621453_263803271">Фото из альбома.</a></p>
{% endblock %}
