{% extends "base.html" %}

{% block content %}
<div id="navbar" class="navbar navbar-light bg-light justify-content-between sticky">
    <div>
        <a class="active" href="/index">О нас</a>
        <a href="/time-table">Расписание</a>
        <a href="/price">Прайс-лист</a>
        <a href="/price">Команда преподавателей</a>
        <a href="/contacts">Контакты</a>
    </div>
    <div style="align: middle;">
        <img src="../static/image/Orange.jpg" height="80px">
    </div>
</div>

<h1>Регистрация</h1>
    <p style="color: red;">{{ message }}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="name") }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>

{% endblock %}
