{% extends "base.html" %}

{% block content %}
<div id="navbar" class="navbar navbar-light bg-light justify-content-between sticky">
    <div>
        <a href="/">О нас</a>
        <a class="active" href="time-table.html">Расписание</a>
        <a href="javascript:void(0)">Прайс-лист</a>
        <a href="teachers.html">Команда преподавателей</a>
    </div>
    <div style="align: middle;">
        <img src="../static/image/Orange.jpg" height="80px">
    </div>
</div>
<div class="text-center">
    <img src="../static/image/rasp_a.jpg" class="rounded" alt="...">
    <img src="../static/image/rasp_b.jpg" class="rounded" alt="...">
</div>
{% endblock %}